body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #304269;
}

.contact-info, ul {
	list-style: none;
	padding-left: 0px;
}

/**** Accordion Styles ***/

.card-header {
	cursor: pointer;
	background: #d9e8f5;
}

.phone, .chevron, .lead {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.phone {
	justify-content: center;
	font-size: 1.7rem;
}

.chevron {
	justify-content: center;
	font-size: 1.25rem;
}

.lead{
	padding-top: 5px;
  padding-bottom: 5px;
}

.lead p {
	width: 100%;
	margin: 0;
}

.lead .pre-title {
	font-size: 1rem;
}

.lead .title {
	line-height: 1.35;
	font-weight: 600;
	font-size: 1.45rem;
  margin-top: 2px;
  color: #304269;
}

.action-buttons {
	display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 80%;
  margin: 1rem auto;
}

.action-buttons .btn {
	width: 135px;
	background: #304269;
	color: #fff;
	cursor: pointer;
}